<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
   xmlns:gap = "http://phonegap.com/ns/1.0"
   xmlns:android = "http://schemas.android.com/apk/res/android"
   id = "com.phonegap.hwrffe" <!-- ubah baris ini dengan id yg unik, untuk instalasi apps di android, misal com.phonegap.hwr12. ga boleh sama dengan yg lain, kalau sama maka pas instal akan ketiban di android kalian -->
   version = "1.0.0">
   <name>Fuzzy HWR</name>  <!-- Nama Aplikasi Kalian, ga usah panjang2 buat di home screen android kalian -->
   <description>
     <!-- ga usah diisi gpp -->
   </description>
   <author href="http://phonegap.com" email="support@phonegap.com">
      PhoneGap Team <!-- ga usah diisi gpp -->
   </author>
   <!-- Pengaturan -->
   <preference name="permissions" value="none"/>
   <preference name="phonegap-version" value="3.7.0" /> <!-- versi phonegap yg digunakan, buat di build di adobe , sekedar pengetahuan ajah -->
   <preference name="orientation" value="portrait" /> <!-- value bisa diganti ganti untuk ukuran layar dengan 3 yaitu portrait = aplikasi horizontal sajah, landscape = plikasi datar ajah, default = bisa landscape bisa portrait  -->
   <preference name="target-device" value="universal" />
   <preference name="android-minSdkVersion" value="7" />
   <preference name="android-installLocation" value="auto" />
   <preference name="fullscreen" value="false" />
   
   <preference name="SplashScreen" value="splash" /> 
   <preference name="SplashScreenDelay" value="4000" />  <!-- kalau pake splashscreen, set waktunya, 3000 artinya 3 detik -->
   
   <!-- Plugins -->
   <gap:plugin name="org.apache.cordova.battery-status" />
   <gap:plugin name="org.apache.cordova.camera" />
   <gap:plugin name="org.apache.cordova.media-capture" />
   <gap:plugin name="org.apache.cordova.console" />
   <gap:plugin name="org.apache.cordova.contacts" />
   <gap:plugin name="org.apache.cordova.device" />
   <gap:plugin name="org.apache.cordova.device-motion" />
   <gap:plugin name="org.apache.cordova.device-orientation" />
   <gap:plugin name="org.apache.cordova.dialogs" />
   <gap:plugin name="org.apache.cordova.file" />
   <gap:plugin name="org.apache.cordova.file-transfer" />
   <gap:plugin name="org.apache.cordova.geolocation" />
   <gap:plugin name="org.apache.cordova.globalization" />
   <gap:plugin name="org.apache.cordova.inappbrowser" />
   <gap:plugin name="org.apache.cordova.media" />
   <gap:plugin name="org.apache.cordova.network-information" />
   <gap:plugin name="org.apache.cordova.splashscreen" />
   <gap:plugin name="org.apache.cordova.vibration" />
  
   <!-- Icon --> <!-- buat folder icon (nama terserah) di folder aplikasi kalian, dan buat icon dengan semua ukuran dibawah ini, resize ukuran di software microfosoft picture manager -->
   <icon src="icon/48.png" />  <!-- ini ukuran 48 * 48 px -->
   <icon src="icon/24.png" gap:platform="android" gap:qualifier="ldpi" /> <!-- ini ukuran 24 * 24 px -->
   <icon src="icon/36.png" gap:platform="android" gap:qualifier="mdpi" /> <!-- ini 36 px -->
   <icon src="icon/48.png" gap:platform="android" gap:qualifier="hdpi" /> <!-- ini 48 px -->
   <icon src="icon/64.png" gap:platform="android" gap:qualifier="xhdpi" /> <!-- ini 64 px -->
   <!-- splash screen--> <!-- buat folder splashscreen di folder aplikasi kalian, dan buat splashscreen dengan semua ukuran dibawah ini, resize ukuran di software microfosoft picture manager -->
   <gap:splash src="splash/240_400.jpg" gap:platform="android" gap:qualifier="port-ldpi" />  <!-- ini ukuran 240 * 400 px -->
   <gap:splash src="splash/320_480.jpg" gap:platform="android" gap:qualifier="port-mdpi" /> <!-- dan seterusnya -->
   <gap:splash src="splash/480_800.jpg" gap:platform="android" gap:qualifier="port-hdpi" />
   <gap:splash src="splash/640_960.jpg" gap:platform="android" gap:qualifier="port-xhdpi" />
   
   <gap:splash src="splash/400_240.jpg" gap:platform="android" gap:qualifier="land-ldpi" />  <!-- ini ukuran 400 * 200 px , kebalikan yg atas -->
   <gap:splash src="splash/480_320.jpg" gap:platform="android" gap:qualifier="land-mdpi" />  <!-- dan seterusnya -->
   <gap:splash src="splash/800_480.jpg" gap:platform="android" gap:qualifier="land-hdpi" />
   <gap:splash src="splash/960_640.jpg" gap:platform="android" gap:qualifier="land-xhdpi" />
   <!-- catatan buat splashscreen :  port artinya portrait, land itu landscape -->
  
   <access origin="*"/>
</widget>